@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black: #171718;
    --blackBorder: #26292D;
    --white: #fff;

    --purple: #5e3beb;
    --orange: #df5b22;
    --pureBlack: #000;
    
    --pureBlack: var(--pureBlack)
    --textColor: var(--black);
    --darkBg:var(--black);
    --darkBorder: var(--darkBorder);
    --headerText: var(--white);
    --accent: var(--orange)
}

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

html, body{
    min-height: 100vh;
    /* width: 100%; */
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0,5px;
    color: var(--textColor);
}

#root{
    min-height: 100vh;
}
.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* nav */

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/* .nav{
    background-color: var(--darkBg);
    color: var(--headerText);
    padding: 20px 0;
    border-bottom: var(--blackBorder) 1px solid;
    letter-spacing: normal;
}

.navRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo{
    font-family: 'Poppins', sans-serif;
    color: var(--headerText);       
    font-size: 24px;
}

.logo strong {
    font-weight: 700;
}

.navList{
    font-family: 'Poppins', sans-serif;
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.navList__link{
    color: var(--headerText);
    transition: opacity 0.3s ease-in;
}

.navList__link:hover{
    opacity: 0.7;

}

.navList__link--active{
    color: var(--headerText);
    position: relative;
}

.navList__link--active::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--accent);
    height: 3px;
} */


/* header */
/* 
.header{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--headerText);
    min-height: 695px;

    background-color: var(--darkBg);
    background-image: url('/src/img/headerBg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.header__wrapper{
    padding: 0 15px;
    max-width: 900px;
}

.header__title{
    color: var(--headerText);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;

}

.header__title strong{
    font-size: 60px;
    font-weight: 700;
}

.header__titleAccent{
    color: var(--accent);
}

.header__subtitle{
    margin-bottom: 40px;
    line-height: 1.333;
    font-size: 18px;
}

.header__btn{
    display: inline-block;
    background-color: var(--accent);
    padding: 12px 28px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15px;
    border-radius: 5px;
    color: var(--headerText);
    transition: opacity 0.3s ease-in;
}

.header__btn:hover{
    opacity: 0.8;
}

.header__btn:active{
    position: relative; 
    top: 1px;
} */

/* projects */

.section{
    padding: 70px 0;
}

.section__title{
    margin-bottom: 60px;
    text-align: center;
    font-size: 60px;
    line-height: 1.3;
    color: var(--accent);
    font-weight: 700;
}
.section__list{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.section__list__item{
    background-color: var(--white);
    max-width: 370px;
    max-height: 350px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.section__list__item__img{
    border-radius: 10px;
}

.section__list__item__title{
    color: var(--black);
    padding: 15px 20px 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

/* project details */

.projectDetails{
    max-width: 865px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.projectDetails__img{
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.projectDetails__description{
    font-weight: 700;
    font-size: 27px;
    line-height: 1.3;
}

/* .projectDetails__githubRepoLinkBtn{
    display: flex;
    column-gap: 10px;
    align-items: center;
    
    width: 169px;
    height: 48px;
    padding: 12px 20px;

    border: 1px solid #000;
    color: var(--pureBlack);

    transition: opacity 0.3s ease-in;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15;
    margin-top: 42px;
    border-radius: 5px;
}

.projectDetails__githubRepoLinkBtn:active{
    position: relative; 
    top: 1px;
}

.projectDetails__githubRepoLinkBtn:hover{
    color: var(--accent);
} */


.contacts, .skills{
    padding-bottom: -20px;
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.contacts__item, .skills__item{
    letter-spacing: -0.5px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
}

.contacts__item__details, .skills__item__details{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.50;
    color: var(--black);

}

.contacts__item__details a{
    color: var(--accent);
}
/* footer */

.footer{
    padding: 40px 0;
    margin-top: auto;
    background-color: var(--darkBg);
}

.footer__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 60px; */
    column-gap: 30px;
}

.footer__description{
    text-align: center;
    padding-top: 27px;
    font-size: 16px;
    color: var(--white);
    line-height: 1.5;
}

@media (max-width: 620px)

{
    /* header */
    .header{
        min-height: 470px;
    }

    .header__title { 
        font-size: 30px
    }

    .header__title strong{
        font-size: 40px;
    }

    /* projects */

    .section{
        padding: 40px 0;
    }
    .section__title{
        margin-bottom: 30px;
        font-size: 40px;
    }

    .section__list__item__title{
        font-size: 22px;
    }

    /* projectPage */

    .projectDetails__description{
        font-size: 20px;
    }

    .projectDetails__githubRepoLinkBtn{
        margin-top: 25px;
    }

    /* contacts&skills */
    .contacts, .skills{
        row-gap: 20px;
    }

    .contacts__item, .skills__item{
        font-size: 27px;
    }

    .contacts__item__details, .skills__item__details{
        font-size: 16px;
        margin-top: 8px;
    }

    /* footer */

    .footer{
        padding: 30px 0;
    }

    .footer__icons{
        column-gap: 23px;

    }
    .footer__icon{
        width: 30px;
    }

    .footer__description{
        padding-top: 20px;
    }

}
