.header{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--headerText);
    min-height: 695px;

    background-color: var(--darkBg);
    background-image: url("/src/img/headerBg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
}

.header__wrapper{
    padding: 0 15px;
    max-width: 900px;
}

.header__title{
    color: var(--headerText);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;

}

.header__title strong{
    font-size: 60px;
    font-weight: 700;
}

.header__titleAccent{
    color: var(--accent);
}

.header__subtitle{
    margin-bottom: 40px;
    line-height: 1.333;
    font-size: 18px;
}

.header__btn{
    display: inline-block;
    background-color: var(--accent);
    padding: 12px 28px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15px;
    border-radius: 5px;
    color: var(--headerText);
    transition: opacity 0.3s ease-in;
}

.header__btn:hover{
    opacity: 0.8;
}

.header__btn:active{
    position: relative; 
    top: 1px;
}