.footer{
    padding: 40px 0;
    margin-top: auto;
    background-color: var(--darkBg);
    border-top: 1px #26292D solid;
}

.footer__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.footer__description{
    text-align: center;
    padding-top: 27px;
    font-size: 16px;
    color: var(--white);
    line-height: 1.5;
}
